body {
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  background: url(background.jpg);
  background-attachment: fixed;
  background-position: center;
  color: #ffffff;
}
.ff-header {
  margin-bottom: 20px;
}
.js-search-form {
  margin-bottom: 40px;
}
.js-search-results {
  margin-bottom: 40px;
}
.card {
  margin-bottom: 1.25rem;
  color: #000000;
}
.card-text {
  max-height: 48px;
  overflow: hidden;
}
.card-title {
  max-height: 48px;
  overflow: hidden;
}
